.App {
  text-align: center;
  background: #86a873;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #86a873;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*list styles*/
.List-Component {
  padding-bottom: auto;
  padding-top: 15px;
  background: #86a873;
  display: flex;
  margin: auto;
  color: white;
}

.bookList {
  background: #bb9f06;
  max-width: 25%;
  border: #095256 double;
}

ol {
  margin: auto;
}

footer {
  padding-bottom: 25px;
  padding-top: 200px;
}

.Form-Inputs {
  max-width: 50%;
  margin: auto;
}

.btn-link {
  color: #bb9f06;
}
